<h1>Users</h1>
<h5>View users in detail</h5>

<hr>

<div class="master">
  <div class="inner">{{outlet 'master'}}</div>
</div>

<div class="detail">
  <div class="inner">{{outlet 'detail'}}</div>
</div>